doctype html
html(lang='en')
    head
        include _include/head
    body
        header
        main(ng-app='u' ng-controller='u_ctrl')
            div.owner-picker
                div.field.owner_id(contentEditable='True' ng-model='elem_owner_id') {{elem_owner_id}}
                div.button.owner_id-push(ng-click='go()') Go!
            ol(reversed)
                li(ng-repeat='post in random') 1 {{post}}
            ol(reversed)
                li(ng-repeat='post in posts' ng-bind-html='post.text')
        footer
